.navbar {
  margin: 0px;
  padding: 0px;
  display: flex;
  background-color: black;

  .title {
    width: 100%;
    line-height: 40px;
    font-size: 24px;
    color: white;
    flex: 1;
  }
  .filter {
    max-width: 300px;
    flex: 1;
    margin: 8px;
  }
  .user-name {
    text-align: right;
    flex: 1;
    margin: 8px;
    color: white;
  }
}
