.product{
    list-style: none;
    height: auto;
    display: inline-block;
    width: 20%;

    background-color: rgb(221, 238, 144);
    margin:10px;
    padding:10px;
    vertical-align: top;
    .product-img{
        width:100%;
        
    }
}